{% extends "base_tags.html" %}
<!--html>
   <head>
      <title>Entries by tag</title>
   </head>
   <body>
      <h1>Entries by tagged by {{tag.name}}</h1>
      {% for entry in object_list %}      
         <p>{{entry.title}}</p>
      {% endfor %}
   </body>
</html-->

{% block title %}{{ block.super }} | Latest entries{% endblock %}

{% block content %}
   {% if object_list.count == 0 %}
      No entry tagged by {{tag.name}}<br />
   {% endif %}
   {% for entry in object_list %}
     <a href="{{entry.get_absolute_url}}">{{entry.title}}</a><br/>
   {% endfor %}
   {% load coltrane_tags %}
   {% if related_tags|is_list_not_empty %}
     <br/> Related tags:<br />
     {% for relatedtag in related_tags %}
       <a href="/weblog/tags/entries/{{relatedtag.name}}">{{relatedtag.name}}</a><br/>
     {% endfor %}
   {% endif %}
{% endblock %}

{% block whatis %}
<p>This is a list of {{object_list.count}} entries tagged by {{tag.name}} in my blog.</p>
{% endblock %}
