{% extends "base_entries.html" %}

{% block title %}{{ block.super }} | Latest entries{% endblock %}

{% block content %}
   <p>Example of using context_processor:kentseng {{kentseng}}</p>
   {% for entry in entry_list %}
     <h2>{{entry.title}}</h2>
     <p>Published on {{ entry.pub_date|date:"F j, Y"}}</p>
     {% if entry.excerpt_html %}
       {{entry.excerpt_html|safe}}
     {% else %}
       {{entry.body_html|truncatewords_html:"50"|safe}}
     {% endif %}
       <p><a href="{{entry.get_absolute_url}}">Read full entry...
         {% if not entry.enable_comments %}
         Private only
         {% endif%}</a></p>
   {% endfor %}
{% endblock %}

{% block whatis %}
<p>This is a list of the latest {{entry_list.count}} entries published in my blog.</p>
{% endblock %}
