{% extends "base_tags.html" %}
<!--html>
   <head>
      <title>Tag list</title>
   </head>
   <body>
      <h1>Tag list</h1>
      {% for tag in object_list %}      
         <p>{{tag.name}}</p>
      {% endfor %}
   </body>
</html-->
{% block title %}{{ block.super }} | Latest entries{% endblock %}
{% load coltrane_tags %}
{% load tagging_tags %}
{% block content %}
   <p>Entry tags:<br>
   {% for tag in object_list %}
     {% if tag|tag_in_entry %}       
       <a href="/weblog/tags/entries/{{tag.name}}">{{tag.name}}</a>
     {% endif %}
   {% endfor %}
   </p>
   <p>Links tags:<br>
   {% for tag in object_list %}
     {% if tag|tag_in_link %}
       <a href="/weblog/tags/links/{{tag.name}}">{{tag.name}}</a> 
     {% endif %}
   {% endfor %}
   </p>
{% endblock %}

{% block whatis %}
<p>This is a list of the latest {{object_list.count}} tag published in my blog.</p>
{% endblock %}
